@import url("/css/variaveis.css");

#container-contato {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  padding-right: 2.5rem;
  position: fixed;
  opacity: 70%;
  cursor: pointer;
  box-sizing: border-box;
  right: 0;
  top: 50%;
  z-index: 9999;
}

.lista-contato {
  list-style-type: none;
  list-style: none;
  color: inherit;
  align-items: flex-end;
}

.imagem-contato {
  height: 1.5rem;
  align-items: flex-end;
}

.link {
  padding-left: 2rem;
  text-decoration: none;
}

.link:hover {
  color: rgb(255, 255, 255);
  opacity: 20%;
}

@media (max-width: 480px) {
  #container-contato {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    top: auto;
    bottom: 1rem;
    transform: none;
    max-width: 100%;
    padding: 1rem;
    margin: 0;
  }

  .imagem-contato {
    height: 1rem;
  }

  .link {
    padding-left: 1.5rem;
  }
}

@media (max-width: 768px) {
  #container-contato {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
  }

  .imagem-contato {
    height: 1.25rem;
  }

  .link {
    padding-left: 1.8rem;
  }
}
