#contato {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  min-height: 100vh;
  background: #c55c5c;
  color: white;
  position: relative;
}

.contato-titulo{
    display: flex;
    justify-content: flex-end;
    padding: 2rem 10rem 0 0;
}

.contato-container {
    width: 100%;
    text-align: center;
}

.contato-links{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 18rem;
    padding-bottom:21rem ;
}
.contato-container a {
  font-size:1.8rem ;
  font-weight: 800;
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
}

.contato-container a strong{
    font-weight: 100;
    font-size:1.8rem ;
}

.contato-descricao{
    position: absolute;
    top:15%;
    left: 2%;
    width:6%;
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 800;
    
}

.contato-strong{
    font-weight:300 ;
}

.contato-nome{
    font-size: 0.8rem;
}

