#entrada-site {
    font-family: inherit;
    text-align: center;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--cor-background);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 1;
    z-index: 1000;
    line-height: 1.2;
  }
  
  .conteudo-entrada {
    display: none;
  }
  
  .oculto {
    display: block;
  }
  
  #entrada-site h2 {
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: 10%;
  }
  
  #entrada-site p {
    padding-left: 1rem;
    padding-top: 0.9rem;
    font-size: 1rem;
    font-weight: 200;
  }