#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
  position: relative;
  z-index: 1;
}

.header-imagem-circulo {
  width: 10px;
  transition: all 0.3s ease;
}

.header-menu {
  display: flex;
  position: fixed;
  width: 100%;
  background: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#header.menu-claro {
  color: white;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  gap: 1rem;
  width: 70%;
  margin-top: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.header-menu li {
  text-align: center;
  margin-right: 5rem;
  transition: transform 0.7s ease;
  font-size: 0.8rem;
}

.header-menu li a {
  color: var(--cor-texto-escuro);
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.header-menu li:hover {
  transform: scale(1.1);
  color: #F15A24;
}

@media (max-width: 768px) {
  .header-menu {
    position: static; 
    flex-direction: column;
    align-items: flex-end;
   
  }

  .header-menu ul {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }

  .header-menu li {
    font-size: 1.2rem;
    margin: 0;
    font-size: 0.8rem;
  }

  .header-menu li a {
    font-size: 1.2rem;
  }

  .central-container {
    flex-direction: column; 
    gap: 1rem; 
  }

  .central-item img {
    width: 50%; /* Ajusta o tamanho das imagens para caber na tela */
  }
}

@media (min-width: 769px) {


  .central-container {
    flex-direction: row; /* Mantém os elementos lado a lado */
  }

  .central-item img {
    width: auto; /* Mantém o tamanho original */
  }
}

/* @media (max-width: 768px) {
  .header-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--cor-background-escuro);
    flex-direction: column;
    z-index: 999;
  }

  .header-menu ul {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    color: white;
  }

  .header-hamburguer {
    display: flex; 
  }
  .header-hamburguer span {
    width: 15px;
    height: 2px;
  }

  .header-imagem-circulo {
    width: 10px;
  }
}


@media (min-width: 769px) {
  .header-hamburguer {
    display: none;
  }

  .header-menu {
    display: flex;
  }
} */
