#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  width: 100%;
  position: relative;
}

.header-nome h1 {
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

.header-imagem-circulo {
  width: 10px;
}

/* MENU HAMBÚRGUER (Oculto por padrão) */
.header-hamburguer {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.header-hamburguer span {
  width: 25px;
  height: 3px;
  background-color: var(--cor-texto-escuro);
  transition: transform 0.3s ease;
}

/* MENU (Por padrão, aparece em telas grandes) */

.header-menu {
  display: flex;
  position: static;
  background: transparent;
}

.header-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

.header-menu li {
  text-align: center;
  cursor: pointer;
}

.header-menu li a {
  color: var(--cor-texto-escuro);
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.header-contato {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-contato img {
  width: 20px;
}

.header-contato a {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border: 1px solid var(--cor-background-escuro);
  border-radius: 12px;
  background: none;
  position: relative;
  font-size: 1rem;
  color: var(--cor-texto-escuro);
}

/* MEDIA QUERIES */


@media (max-width: 768px) {
  .header-menu {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--cor-background-escuro);
    flex-direction: column;
    z-index: 999;
  }

  .header-nome h1 {
    font-size: 1.2rem;
    margin: 0;
  }

  .header-menu ul {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    color: white;
  }
 

  .header-hamburguer {
    display: flex; /* Aparece o hamburguer */
  }
  .header-hamburguer span {
    width: 15px;
    height: 2px;
  }

  .header-imagem-circulo {
    width: 10px;
  }

  .header-contato a {
    padding: 0.3rem;
  }
  .header-contato img {
    width: 15px;
  }
}

/* Telas maiores (769px ou mais) - Remove menu hamburguer */
@media (min-width: 769px) {
  .header-hamburguer {
    display: none;
  }

  .header-menu {
    display: flex;
  }
}
