@import url("/css/main.css");

body {
  color: white;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-style: normal;
  position: relative;
}
/* ================HEADER================= */

.header-menu {
  display: flex;
  position: fixed;
  top: 10%;
  left: 90%;
  transform: translateX(-70%);
  background: transparent;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  gap: 1rem;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.header-menu li {
  text-align: center;
  margin-right: 5rem;
  transition: transform 0.7s ease;
  font-size: 0.8rem;
}

.link-lbc {
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.header-menu li:hover {
  transform: scale(1.1);
  color: aquamarine;
}

/* ==============BANNER PROJETO COM O LOGO==================== */
.container-titulo-projeto {
  display: flex;
  width: 100%;
  margin-left: 16rem;
}

.logo {
  width: 150px;
}

.titulo-projeto h1 {
  color: white;
  display: flex;
  font-weight: 300;
}

/* ===============UX-UI================= */

.container-ux-ui {
  width: 100%;
  min-height: 100vh;
  background: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.layout-container {
  width: 100%;
  max-width: 100%;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.container-section {
  width: 30%;
  line-height: 1.7;
}

h2 {
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
}

p {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

a {
  font-size: 0.8rem;
  padding: 1rem;
}
a:hover {
  text-decoration: underline;
}

.ellipse-lbc {
  position: absolute;
  left: 90%;
  top: 90%;
}

/* =====================MODAL===================== */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  right: 0; 
  top: 0;
  width: 60%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
  backdrop-filter: blur(5px);
}

.modal-conteudo {
  color: white;
  margin: auto;
  padding: 4rem 2rem;
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(150%);
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.modal.active .modal-conteudo {
  transform: translateY(0);
}

.fechar-modal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.fechar-modal:hover,
.fechar-modal:focus {
  color: white;
  text-decoration: none;
}

.modal-conteudo h2 {
  margin-bottom: 10px;
  color: white;
  text-align: left;
}

.modal-conteudo h3,
.modal-conteudo h4 {
  font-weight: bold;
  margin-bottom: 10px;
  color: white;
  text-align: left;
  font-size: 1rem;
}

.modal-conteudo p,
.modal-conteudo ul {
  line-height: 1.6;
  color: white;
  margin-bottom: 15px;
  text-align: left;
  font-size: 0.8rem;
}

.cabecalho-modal {
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5rem;
  width: 30%;
}

.cabecalho-titulo {
  display: flex;
  margin-left: 4rem;
}

.separador {
  font-size: 2rem;
  margin: 0 2rem;
}

.botao-prototipo {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 0.8rem;
}

.botao-prototipo:hover {
  background-color: #0052a3;
  color: white;
}

.modal-section {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 2rem;
}

.modal-item {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
  gap: 20px; 
  padding: 1rem 0;
}

.numero {
  font-size: 1.5rem;
  font-weight: bold;
  color: aquamarine;
  min-width: 50px; 
  text-align: right; 
}

.conteudo {
  flex: 1; 
}

.conteudo h2 {
  margin-top: 0;
  font-size: 1.2rem;
}

.conteudo p {
  margin: 0.5rem 0 0; 
  line-height: 1.6;
  width: 100%;
  text-align:left;
}

.modal-desafio-solucoes,
.modal-personas,
.modal-style-guide{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 2rem;
}

.modal-coluna {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-personas .modal-coluna .modal-style-guide {
  align-items: center;
}

.modal-personas img,
.modal-style-guide img{
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}


/* =========== Imagem expandida=================== */
.overlay {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: auto;
}

#imagem-expandida {
  max-width: 90%;
  max-height: 80vh;
  margin: auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
}

.fechar-imagem {
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}

.fechar-imagem:hover,
.fechar-imagem:focus {
  color: #ccc;
}

@media (max-width: 1200px) {
  .header-menu {
    top: 5%;
    left: 95%;
    transform: translateX(-50%);
  }

  .header-menu li {
    margin-right: 0;
    font-size: 0.7rem;
  }

  .container-section {
    width: 60%;
    margin-left: 2rem;
  }

  .grupos {
    margin-left: 0;
    width: 80%;
  }

  .imagem-linha-grupos {
    left: 3%;
    height: 800px;
  }

  .container-section-front-back {
    margin-left: 2rem;
  }

  .imagem-linha-grupos-front-back {
    position: absolute;
    left: 3%;
    top: 98%;
    height: 1320px;
    width: 1px;
  }

  .resultados {
    padding-left: 0;
    width: 90%;
  }
}

@media (max-width: 768px) {
  .header-menu {
    top: 3%;
    left: 90%;
    transform: translateX(-50%);
  }

  .header-menu li {
    font-size: 0.6rem;
  }

  .grupos-container {
    padding: 0;
  }
  .layout-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .imagem-linha-grupos-front-back {
    left: 24%;
    top: 88%;
  }

  .container-section {
    width: 90%;
    margin-left: 0;
  }

  .grupos {
    width: 90%;
    margin-left: 0;
  }

  .imagem-linha-grupos {
    left: 27%;
    top: 19%;
  }

  .container-front-back {
    padding: 10px;
  }

  .container-section-front-back {
    width: 90%;
    margin-left: 0;
  }

  .resultados {
    padding-left: 0;
    width: 90%;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.7rem;
  }

  .modal-conteudo {
    width: 95%;
    padding: 15px;
  }

  .modal-conteudo h2 {
    font-size: 22px;
  }

  .modal-conteudo h3 {
    font-size: 18px;
  }

  .modal-conteudo p,
  .modal-conteudo li {
    font-size: 15px;
  }
}

@media (max-width: 600px) {
  .header-menu {
    top: 2%;
    left: 85%;
    transform: translateX(-50%);
  }

  .header-menu li {
    font-size: 0.5rem;
  }

  .container-section {
    width: 100%;
  }

  .grupos {
    width: 100%;
  }

  .imagem-linha-grupos {
    left: 27%;
    top: 29%;
  }
  .container-section-front-back p,
  .container-section-front-back ul {
    font-size: 0.8rem;
  }

  .container-section-front-back h2 {
    font-size: 1rem;
  }

  .resultados p {
    width: 100%;
  }
}

@media (max-width: 468px) {
  .header-menu {
    top: 1%;
    left: 80%;
    transform: translateX(-50%);
  }

  .header-menu li {
    font-size: 0.5rem;
  }

  .imagem-linha-grupos {
    height: 500px;
  }

  .imagem-linha-grupos {
    left: 28%;
    top: 29%;
  }
  .imagem-linha-grupos-front-back {
    position: absolute;
    left: 20%;
    top: 100%;
    height: 520px;
    width: 1px;
  }

  .container-section-front-back p,
  .container-section-front-back ul {
    font-size: 0.5rem;
  }

  h2 {
    font-size: 0.8rem;
  }

  p {
    font-size: 0.5rem;
  }
}

@media (max-width: 380px) {
  .grupos-container {
    padding: 0;
  }

  .header-menu {
    top: 0.5%;
    left: 75%;
    transform: translateX(-50%);
  }

  .header-menu li {
    font-size: 0.3rem;
  }

  .imagem-linha-grupos {
    height: 500px;
  }
  .imagem-linha-grupos {
    left: 28%;
    top: 29%;
  }

  h2 {
    font-size: 0.7rem;
  }

  p {
    font-size: 0.4rem;
  }
}
