@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --cor-texto-escuro: #0d0d0d;
  --cor-texto-claro: #f2f2f2;
  --cor-background: #ffffff;
  --cor-background-claro: rgba(0, 0, 0, 0.2);
  --cor-background-escuro: #262626;
  --cor-borda-titulo-skill: rgba(89, 89, 89, 0.7);
  --cor-borda-imagem-habilidade: #b0b0b02d;
  --cor-borda-retangulo-habilidae: rgba(0, 0, 0, 0.7);

  --font-family: "Encode Sans SC";
}

/* [data-tema="escuro"]{
        --cor-texto-escuro: #0D0D0D ;
    --cor-texto-claro: #F2F2F2;
    --cor-background: #F2F2F2;
    --cor-background-claro:rgba(0, 0, 0, 0.2);
    --cor-background-escuro:#262626;
    --cor-borda-imagem-habilidade:#B0B0B0;
    --cor-borda-retangulo-habilidae:rgba(0, 0, 0, 0.7);
} */

html {
  user-select: none;
  scroll-behavior: smooth;
  width: 100%;
  height: 100vh;

}

body {
  background: var(--cor-background);
  color: var(--cor-texto-escuro);
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1.5;
  font-style: normal;
  position: relative;
  display: flex; 
  flex-direction: column; 

}
main {
  flex: 1;
  min-height: 100vh;
}

/* section{
opacity: 0; 
transform: translateY(50px);
transition: opacity 1s ease, transform 30s ease;
}
section.active {
  opacity: 1;
  transform: translateY(0); 
} */

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

}
@media (max-width: 480px) {


}

