/* ============ SKILLS ============ */
#skills {
  position: relative;
  width: 100%;
  padding: 3rem 0;
}

/* =======TITULO SKILLS========= */

.carrossel {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  z-index: 99999;
  margin-bottom: 10rem;
}

.carrossel-conteudo {
  display: flex;
  animation: moveText 30s linear infinite;
}

.carrossel h2 {
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 1rem;
  color: transparent;
  -webkit-text-stroke: 2px orange;
  margin-right: 50px;
}

.skills-titulo-separador{
  font-size: 8rem;
  color: orange;
}

strong {
  color: orange;
}

@keyframes moveText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* CONTAINER DOS CARDS */
.skills-container {
  display: flex;
  justify-content: center;
  gap: 2rem; /* Espaçamento entre cards */
  padding: 2rem 0;
  position: relative;
}

.skills-descricao {
  width: 40%;
  line-height: 1.5;
  margin: 10rem 0 2rem 2rem;
  padding: 5rem;
  border-radius: 24px;
  opacity: 0;
  transform: translateX(3%);
  transition: opacity 2s ease-out, transform 2s ease-out;
  background: linear-gradient(145deg, #f0f0f0, #ffffff);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}

.skills-descricao.visible {
  opacity: 1;
  transform: translateX(0);
}

/* ============ CARDS NAO EXPANDIDO ============ */

.skills-card {
  height: 100px;
  width: 120px;
  background: var(--cor-background-escuro);
  border-radius: 12px;
  color: var(--cor-texto-claro);
  padding: 1rem;
  transition: all 2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  cursor: pointer;
  position: relative;

}

.skills-card.ativo{
  transform: scale(1.05);
  opacity: 1;
  height: auto; 
  width: 350px;
}

.skills-card ul{
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 2s ease, opacity 1s ease;
}

.skills-card.ativo ul {
    max-height: 200px; /* Ajuste para caber o conteúdo */
    opacity: 1;
  
}

.skills-card li {
  padding: 0.2rem;
  font-size: 0.8rem;
  text-align: left; /* Alinha o texto à esquerda */
  list-style-position: inside;
}
strong {
  font-size: 0.9rem;
  
}

.skills-front-end{
opacity: 1;
}
.skills-back-end{
opacity: 0.5;
}
.skills-ux-ui{
opacity: 0.5;
}

.fechar-card {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #ff4d4d; 
  cursor: pointer;
  transition: opacity 0.3s ease; /* Animação suave para aparecer/desaparecer */
  opacity: 0; /* Inicialmente invisível */
  z-index: 10;
}

.fechar-card:hover {
  transform: rotate(90deg);
  color: #ff8c00; /* Altera a cor ao passar o mouse */
  opacity: 1; /* Visível apenas quando o card está ativo */
}



/* ============ ABAS PROJETOS ============ */



.projetos-titulo {
  font-size: 1.5rem; 
  font-weight: bold; 
  color: white; 
  text-align: center; 
  margin-bottom: 1rem; 
  letter-spacing: 0.1rem; 
  text-transform: uppercase; 
  position: relative; 
  background: var(--cor-background-escuro);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  width: 100%;
}


.projetos-titulo::after {
  content: '';
  display: block;
  width: 60px;
  height: 3px; 
  /* background: orange;  */
  margin: 0.5rem auto 0; 
}

.abas-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza horizontalmente */
  gap: 1rem; /* Espaçamento entre as abas */
  padding: 2rem;
  position: absolute;
  z-index: 1;
  left: 39%;
  top: 14%;
}

/* Abas (botões) */
.aba {
  width: auto; 
  min-width: 70px; /* Define uma largura mínima */
  max-width: 150px; /* Define uma largura máxima */
  height: 50px; /* Altura fixa */
  background: orange;
  color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 

}
.aba:hover{
  transform: scale(1.05) rotate(3deg);
}

/* Título dentro das abas */
.aba-titulo {
  display: none; /* Oculta o título por padrão */
  font-size: 1.2rem; /* Aumenta o tamanho da fonte */
  margin-bottom: 0.5rem; /* Adiciona um espaçamento abaixo do título */
  text-align: center; /* Centraliza o texto */
  color:white; /* Define uma cor de texto adequada */
  padding: 0 0.5rem;
}

/* Exibe o título quando a aba está expandida */
.aba.expandida .aba-titulo {
  display: block; /* Torna o título visível */
}
.aba-links{
  display: flex;
  align-items: center;
  color:inherit;
  padding:0.3rem;
}

/* Conteúdo expandido */
.aba.expandida {
  width: 90%; /* Largura controlada */
  max-width: 400px; /* Limite máximo para telas pequenas */
  height: auto;
  transform: none; /* Remove transformações desnecessárias */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transition: all 0.3s ease;
}

.aba-conteudo {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  background: white;
  border-radius: 8px;
  text-align: left;
}

.aba.expandida .aba-conteudo {
  opacity: 1;
  visibility: visible;
  color: black;
}

/* Botão de fechar */
.fechar-aba {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #222;
  font-size: 20px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.fechar-aba:hover {
  transform: rotate(90deg);
  color: #ff8c00;
}
/* ============ RESPONSIVO PARA TELAS PEQUENAS (768px) ============ */



@media (max-width: 768px) {
  /* Desativa animações e efeitos de hover */
  * {
    animation: none !important;
    transition: none !important;
  }

  /* Centraliza tudo */
  #skills {
    padding: 1rem 0;
    height: auto;
    text-align: center;
  }


  .carrossel {
    margin-bottom: 2rem;
  }

  .carrossel h2 {
    font-size: 3rem;
    letter-spacing: 0.5rem;
  }

  .skills-titulo-separador {
    font-size: 1rem;
  }

  .skills-container {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .skills-descricao {
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    font-size: 0.8rem;
    line-height: 1.2;
  }

  .skills-card {
    height: 50px;
    width: 20%;
    max-width: 350px; 
    margin: 0 auto; 
    padding: 1rem;
    font-size: 0.7rem; 
    text-align: left; 
  }

  .skills-card.ativo {
    width: 90%;
    max-width: 400px; 
    height: auto;
    margin: 0 auto; 
  }
  .fechar-card {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ff4d4d;
    cursor: pointer; /* Indica que é clicável */
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
    padding: 0.5rem; /* Aumenta a área clicável */
  }
  


  .skills-card ul {
    max-height: 150px;
  
  }

  .skills-card li {
    font-size: 0.7rem;
  }

  /* Ajustes nas abas */
  .abas-container {
    position: static;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  .aba {
    width: 50px;
    height: 50px;
    position: static;
    transform: none;
  }

  .aba:nth-child(1),
  .aba:nth-child(2),
  .aba:nth-child(3) {
    top: auto;
    left: auto;
    transform: none;
  }

  .aba.expandida {
    width: 90%;
    height: auto;
    transform: none;
  }

  .aba-conteudo {
    padding: 1rem;
  }

  .aba-conteudo h3 {
    font-size: 1rem;
  }

  .aba-conteudo p {
    font-size: 0.8rem;
  }

  .aba-container-links {
    flex-direction: column;
    gap: 0.5rem;
  }

  .aba-links {
    font-size: 0.8rem;
  }

  .fechar-aba {
    top: 0px;
    right: 0px;
    font-size: 16px;
  }

  .aba-titulo {
    font-size: 0.8rem; /* Reduz o tamanho da fonte para telas pequenas */
  }

  .aba {
    min-width: 60px; /* Diminui a largura mínima para telas pequenas */
    max-width: 120px; /* Diminui a largura máxima para telas pequenas */
  }

  @media (hover: none) and (pointer: coarse) {
    /* Estilo específico para dispositivos touch */
    .fechar-card {
      font-size: 1.2rem;
      top: 5px;
      right: 5px;
    }
  }
}