/* =================== HOME/SOBRE MIM ====================*/

#home {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 95vh;
  width: 100%;
}

#introducao-home {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: auto;
  margin: 5rem 0;
  text-align: center;
  overflow-x: hidden;
  position: relative;
}

#introducao-home h2 {
  font-weight: 700;
  font-size: 3rem;
  width: 70%;
  margin: 1rem auto;
}

#introducao-home p {
  font-size: 1.1rem;
  width: 70%;
  margin: 1rem auto;
  font-weight: 300;
  font-style: light;
}

.introducao-container-imagem {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
}

.introducao-imagem {
  padding: 0.8rem;
  max-width: 208px;
  max-height: 260px;
}

.introducao-imagem-linha {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.introducao-nome {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100%;
  height: 39vh;
}
.introducao-nome h1 {
  width: 35%;
  font-size: 1rem;
  margin-left: 2rem;
}

/* ====================SOBRE MIM======================= */

#sobre-mim {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  height: 100vh;
  text-align: left;
  background: #e2cd94;
  position: relative;
  
}

.sobre-mim-descricao-container,
.sobre-mim-descricao-parte2 {
  width: 6%;
  text-align: left;
  font-size: 0.8rem;
  margin: 2rem;
}

.sobre-mim-descricao-parte2 p {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 72vh;

}

.download-cv {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.download-cv a {
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: transform 1s ease;
  color: inherit;
}

.download-cv a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  transform: scale(1.1);
}

.sobre-mim-container {
  display: flex;
  justify-content: flex-end;
  

}
.sobre-mim-container img {
  width: 5%;

  position: absolute;
  bottom: 1%;
  left: 93%;
}

