/* Animação para a classe .divisao-sobre-mim */
.divisao-sobre-mim {
  opacity: 0; /* Inicia invisível */
  transform: translateX(4%); /* Inicia fora da tela, à esquerda */
  transition: opacity 2s ease-out, transform 2s ease-out; /* Transição suave */
  margin-top: 52rem;
}

.divisao-sobre-mim.visible {
  opacity: 1; /* Torna visível */
  transform: translateX(0); /* Move para a posição original */
}

.divisao-sobre-mim h2{
  font-size: 2rem;
  padding-left: 3rem;
}

.sobre-mim-titulo h2{
  font-size: 3rem;
}

/* Animação para a classe .sobre-mim-descricao */
.sobre-mim-descricao {
  width: 40%;
  margin: 3rem;
  padding-left: 10rem;
  opacity: 0; /* Inicia invisível */
  transform: translateX(-20%); /* Inicia fora da tela, à esquerda */
  transition: opacity 1s ease-out, transform 1s ease-out; /* Transição suave */
}

.sobre-mim-descricao.visible {
  opacity: 1; /* Torna visível */
  transform: translateX(0); /* Move para a posição original */
}



/* Estilos existentes (mantenha o restante do seu CSS) */
#introducao-sobre-mim {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin-top: 10rem;
}

#introducao-sobre-mim h2 {
  font-weight: 700;
  font-size: 5rem;
  width: 70%;
  margin: 1rem;
}

#introducao-sobre-mim p {
  font-size: 1.5rem;
  width: 70%;
  margin: 1rem;
  font-weight: 300;
  font-style: light;
}

#sobre-mim {
  display: flex;
  position: relative;
  width: 100%;
  
}

#sobre-mim-2 {
  margin-top: 10rem;
}

#sobre-mim-linkedin {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  width: fit-content;
  padding-left: 1rem;
}

.linkedin-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  border: 1px solid var(--cor-background-escuro);
  font-family: var(--font-family);
  border-radius: 12px;
  background: none;
  font-size: 0.8rem;
  color: var(--cor-texto-escuro);
  text-decoration: none;
  transition: color 0.3s ease, background-color 0.3s ease;
  white-space: nowrap;
  width: auto;
}

.linkedin-link:hover {
  background-color: var(--cor-background-escuro);
  color: var(--cor-texto-claro);
}

.sobre-mim-icone-linkedin {
  width: 25px;
  padding-right: 0.5rem;
  filter: invert(1);
  transition: filter 0.3s ease;
}

.linkedin-link:hover .sobre-mim-icone-linkedin {
  filter: invert(0);
}

.sobre-mim-download-cv {
  text-decoration: none;
  font-size: 0.8rem;
  cursor: pointer;
  transition: transform 1s ease;
}

.sobre-mim-download-cv:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  transform: scale(1.1);
}

/* Animação para a classe .sobre-mim-link */
.sobre-mim-link {
  opacity: 0; /* Inicia invisível */
  transform: translateX(4%); /* Inicia fora da tela, à esquerda */
  transition: opacity 4s ease-out, transform 4s ease-out; /* Transição suave */
}

.sobre-mim-link.visible {
  opacity: 1; /* Torna visível */
  transform: translateX(0); /* Move para a posição original */
}