.manual.txt

# Node.js
/node_modules/
/npm-debug.log
/yarn-error.log
/package-lock.json
/yarn.lock

# Build output
/dist/
/build/

# Logs
/logs

# .env file para variáveis de ambiente
.env

# IDEs e editores de código
.vscode/
.idea/

# Arquivos temporários
*.swp
*.swo
*.bak

# Sistema operacional
.DS_Store  # Para macOS
Thumbs.db  # Para Windows

# Arquivos gerados pelo sistema de pacotes
*.tgz
*.gz
