body{
    width: 100%;
    background: #ababab;
    overflow: hidden;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    width: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 56rem;

}