
#contato ul {
    position: absolute;
    top: 50%;
    left: 55%;
    
  }
  
  #contato a {
    display: flex;
    flex-direction: column;
    color: inherit;
    padding: 0.2rem 0;
    width: 5%;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 3px;
  }