#skills {
  position: absolute;
  left: 85%;
  top: 38%;
  width: 200px;
  padding: 0.5rem;
  max-width: 20%;
  margin: 1rem;
}

#skills li {
  padding: 0.1rem;
  line-height: 1.5;
}

#skills h3 {
  font-size: 0.7rem;
  margin: 0.3rem 0;
  flex-wrap: nowrap;
}

@media (max-width: 1199px) {
  #skills {
    left: 68%;
    top: 28%;
    max-width: 22%;
  }
}

@media (max-width: 767px) {
  #skills {
    width: 100%;
    max-width: 30%;
    left: 7%;
    top: 28%;
  }

  #skills li {
    line-height: 1.6;
  }

  #skills h3 {
    font-size: 0.6rem;
  }
}
