#sobre-mim {
  position: absolute;
  left: 85%;
  top: 58%;
  max-width: 11%;
  text-align: left;
  line-height: 1.5;
}

@media (max-width: 1199px) {
  #sobre-mim {
    left: 68%;
    top: 48%;
    max-width: 22%;
  }
}

@media (max-width: 767px) {
  #sobre-mim {
    position: static;
    max-width: 80%;
    width: 100%;
    margin-top: 20%;
    text-align: center;
    line-height: 1.6;
    padding-left: 5rem;
    padding-top: 10rem;
  }
}
